.bc{
    background: linear-gradient(to right , #fc00ff,#00dbde)
}

.box01{
    

    height:20px;
   
    width:315px;

    background-image: url('user.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 45px;

    border: 2px solid #ccc;
    border-radius: 4px;

   font-size: medium;

  padding: 10px 40px 10px 45px;


  

}

.box02{
    
    height:20px;
   
    width:315px;
    

    background-image: url('password.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 40px;
    border: 2px solid #ccc;
    border-radius: 4px;
    
   font-size: medium;
  /* this is important for placeholder not to mix with image  */
   padding: 10px 40px 10px 45px;  



}

.button01{
    
    background-color: rgba(33, 127, 204,0.7);
    width: 405px;
   text-align: center;
   /* margin-left: 40%; */
   height:40px;
   cursor: pointer;
}
.button01:hover {background-color: #2759b6}

.fieldset01{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    align:center;
    width: 800px;
    height: 400px;
    background-color: rgba(179, 236, 255,0.3)
}

.checkbox{
    text-decoration-color:green;
}
.forgetpass{
    color:rgb(250, 255, 252);
}
.line01{
    width: 80%;
}


.signin{
    color: beige;
    font-size: 50px;
    font-display: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color: beige;
}

#footer{
    
    bottom: 0;
    float:center;
    color: bisque;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   

}